services:
  qqmusic-web:
    build:
      context: ..
      dockerfile: docker/dockerfile
    image: qqmusic_web:latest
    container_name: qqmusic_web
    ports:
      - "6022:6022"
    volumes:
      - ..:/app  
    environment:
      - FLASK_ENV=development
      - FLASK_DEBUG=1
      - LANG=zh_CN.UTF-8
      - LC_ALL=zh_CN.UTF-8
    stdin_open: true
    tty: true
    restart: unless-stopped