services:
  qqmusic-web:
    build:
      context: ..
      dockerfile: docker/dockerfile
    image: qqmusic_web:latest
    container_name: qqmusic_web
    ports:
      - "6022:6022"
    volumes:
      - /root/qqmusic_web/:/app  # 挂载配置文件夹
      - ..:/app  
    environment:
      - FLASK_ENV=development
      - FLASK_DEBUG=1
    stdin_open: true
    tty: true
    restart: unless-stopped